# Basic code of Pandas
  
  ### 1) 시리즈(Series)

In [1]:
import pandas as pd

In [2]:
sr = pd.Series([17000, 18000, 1000, 5000],
              index = ["피자", "치킨", "콜라", "맥주"])
print(sr)

피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

#### Series에서 S는 대문자를 사용해야함

In [3]:
print(sr.values)

[17000 18000  1000  5000]

In [4]:
print(sr.index)

Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

### 2) 데이터프레임(DataFrame)

In [5]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index, columns)
print(df)

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

#### DataFrame도 마찬가지로 대/소문자 구별을 해야함

In [6]:
print(df.index)

Index(['one', 'two', 'three'], dtype='object')

In [7]:
print(df.columns)

Index(['A', 'B', 'C'], dtype='object')

In [8]:
print(df.values)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

### 3) 데이터프레임의 생성

In [9]:
# 리스트로 생성하기
data = [
    ['1000', 'Steve', 90.72], 
    ['1001', 'James', 78.09], 
    ['1002', 'Doyeon', 98.43], 
    ['1003', 'Jane', 64.19], 
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]
df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [10]:
# 딕셔너리로 생성하기
data = { '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
'이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
         '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]}

df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

### 4) 데이터프레임 조회하기

In [11]:
print(df.head(3)) # 앞 부분 3개만 보기

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [12]:
print(df.tail(3)) # 뒷 부분 3개만 보기

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [13]:
print(df['이름']) # '학번에 해당되는 열을 보기'

0       Steve
1       James
2      Doyeon
3        Jane
4    Pilwoong
5        Tony
Name: 이름, dtype: object

### 5) 외부 데이터 읽기

In [14]:
df = pd.read_csv('01. example.csv') # 01. example 파일읽기
print(df)

   student id      name  age
0           1     Steve   17
1           2     James   26
2           3    Doyeon   25
3           4      Jane   23
4           5  Pilwoong   27
5           6      Tony   24

In [15]:
print(df.index)

RangeIndex(start=0, stop=6, step=1)